header {
    background-color: #272440;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.nav_logo {
    height: 100px;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 600px;
}
nav li {
    list-style: none;
}
nav a {
    color: #e68e5f;
    text-decoration: none;
}
.header-button {
    background-color: #e68e5f;
    height: 50px;
    width: 150px;
    border-radius: 15px;
}
.header-button a {
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}
.header-button:hover {
    background-color: #FFF;
    transition: 0.8s;
}
.header-button a:hover {
    color: #e68e5f;
}