header {
    background-color: #272440;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.nav_logo {
    height: 100px;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 600px;
}
nav li {
    list-style: none;
}
nav a {
    color: #e68e5f;
    text-decoration: none;
}
.header-button {
    background-color: #e68e5f;
    height: 50px;
    width: 150px;
    border-radius: 15px;
}
.header-button a {
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}
.header-button:hover {
    background-color: #FFF;
    transition: 0.8s;
}
.header-button a:hover {
    color: #e68e5f;
}
.jardin {
    justify-content: center;
    text-align: center;
    
}
.jardin h2{
    font-family: Poppins;
    color: #7e9181;
}
.image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.article {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
}
.content-article {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -200px;
}
.article1 {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.content-article1 {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -200px;

}
section {
    margin-top: 20px;
}
.image-produit {
    display: flex;
    justify-content: space-around;
}
.content-article2 {
    align-self: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
.image1 {
    height: 250px;
    width: 250px;
}
#histoire {

    background-color: #e68e5f;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
    
}
.img{

    /* visibility: hidden; */
    position: fixed;

    opacity: 0;

    z-index: -9998;
    width: 500px;
    height: 500px;
    top: 25%;
    left: 38%;
    background-color: #404040;
    border-radius: 10px;
    color: white;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style: none;

    transition: 0.5s;

}
.active{
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}
.section-1 {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 700px;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 20px;
}

/* nav gauche  */
.nav-gauche {
	background-color: #272436;
	height: 600px;
	
	-webkit-box-shadow: 1px 5px 12px 1px #000000; 
    box-shadow: 1px 5px 12px 1px #000000;
    
    width: 20%;
    position: fixed;
    top: 10;
}
.nav-gauche ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 15%;
}
.nav-gauche li {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.nav-gauche button {
	margin-bottom: 5px;
	background-color: #e68e5f;
	height: 50px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 5px;
}
.nav-gauche a {
	color: #FFF;
}
.nav-gauche button:hover {
	background-color: #FFF;
	transition: 0.8s;
}
.nav-gauche a:hover {
	color: #e68e5f;
}
main {
    display: flex;
    width: 80%;
    
}
footer {
	background-color: #5D4E6D;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	-webkit-box-shadow: 1px 5px 12px 1px #000000; 
    box-shadow: 1px 5px 12px 1px #000000;
    margin-top: 30px;

}
.footer-logo {
    height: 100px;
}
.network {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 20%;
}