body{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #5D4E6D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-shadow: 1px 5px 12px 1px #000000; 
	box-shadow: 1px 5px 12px 1px #000000;
    border-radius: 15px;
}

.nav_logo {   /* animation du logo*/
    height: 100px;
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 600px;
}
nav li {
    list-style: none;
}
nav a {
    color: #e68e5f;
    text-decoration: none;
}
.header-button {
    background-color: #e68e5f;
    height: 50px;
    width: 150px;
    border-radius: 15px;
}
.header-button a {
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}
.header-button:hover {
    background-color: #FFF;
    transition: 0.8s;
}
.header-button a:hover {
    color: #e68e5f;
}

/************************* Fin Header ************************/

.paraHaut{      /* promotions du moment */
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin-top: 50px;
}

.Haut{          /* DIV qui contient .nav-gauche + h1 + .photosHaut*/
    display:flex;
    flex-direction:row;
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
}

.nav-gauche {   /* nav gauche  */
	background-color: #272436;
	height: 600px;
	width: 25%;
	-webkit-box-shadow: 1px 5px 12px 1px #000000; 
	box-shadow: 1px 5px 12px 1px #000000;
    margin-top: 45px;
    padding-left: 60px;
    border-radius: 15px;
    margin-bottom: 50px;
    display: flex;
}
.nav-gauche ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 15%;
}
.nav-gauche li {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.nav-gauche button {    /* boutons nav-gauche */
	margin-bottom: 5px;
	background-color: #e68e5f;
	height: 50px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
	flex-wrap: wrap;
	border-radius: 5px;
}
.nav-gauche a {     /* couleurs texte nav-gauche */
	color: #FFF;
}
.nav-gauche button:hover {      /* au survol changement couleur boutons nav-gauche */
	background-color: #FFF;
	transition: 0.8s;
}
.nav-gauche a:hover {
	color: #e68e5f;
}


/************************************************/

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    animation: mAnim 1s linear 0s infinite alternate both;
}
@keyframes mAnim {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(50px);
    }
}

.photosHaut{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 75px;
    /* margin-bottom: 50px; */
    width: 75%;
    /* margin-top: 0px; */
}

.container{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image9{
    width: 250px;
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
    -webkit-box-shadow: 1px 5px 12px 1px #000000; 
	box-shadow: 1px 5px 12px 1px #000000;
}

.RideauIsolantThermique{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.IsolantThermique{
    width: 250px;
    height: 450px;
    border-radius: 15px;
    /* object-fit: cover; */
    -webkit-box-shadow: 1px 5px 12px 1px #000000; 
	box-shadow: 1px 5px 12px 1px #000000;
}

.RadiateurBainHuile{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.BainHuile{
    width: 250px;
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
    -webkit-box-shadow: 1px 5px 12px 1px #000000; 
	box-shadow: 1px 5px 12px 1px #000000;
}

/************************************************/
h3{
    margin: auto;
    display: flex;
    justify-content: center;
}

.rebours{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.ventesExpress{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 50px;
    -webkit-box-shadow: 1px 5px 12px 1px #000000; 
	box-shadow: 1px 5px 12px 1px #000000;
    animation: Promo 10s ease 0s 1 normal forwards;
}
@keyframes Promo {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}


.para{
    font-size: 24px;
}

.photosBas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h2{     /* Catégories */
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    width: 140px;
    height: 50px;
    background-color: #e68e5f;
    border-radius: 15px;
    -webkit-box-shadow: 1px 5px 12px 1px #000000; 
	box-shadow: 1px 5px 12px 1px #000000;
}

.Une{
    width: 230px;
    height: 70px;
    font-size: 22px;
    justify-content: space-around;
    border-radius: 15px;
    display: flex;
    background-color: #e68e5f;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 5px 12px 1px #000000; 
	box-shadow: 1px 5px 12px 1px #000000;
}
/********************** Footer ***************************/

footer{
    background-color: #5D4E6D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    -webkit-box-shadow: 1px 5px 12px 1px #000000; 
	box-shadow: 1px 5px 12px 1px #000000;
    border-radius: 15px;
}


/********************************************************/

@media only screen and (max-width:375px){

    nav ul { /* Header*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 150px;
        text-align: center;
    }
    
    .paraHaut{
        display: none;
    }

    .photosHaut{
        display: none;
    }

    
    .nav-gauche {   /***************** nav gauche  ****************/
        width: auto;
        height: 700px;
        margin-left: 10px;
    }
    
    .nav-gauche button {
        margin-right: 85px;
    }
    
    .ventesExpress{
        margin-top: 100px;
    }

    .photosBas{
        flex-direction: column;
    }
    
    .image3{
        width: 200px;
        height: 200px;
    }
    
    .Haut{
        margin-bottom: 100px;
    }
    
    }

    
    /********************************************************/
    @media (min-width : 400px) and (max-width :801px){
    /********************************************************/

    nav ul {            /* Header*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 400px;
        text-align: center;
        margin: 0;
        }
    
    header{
        justify-content: center;
        text-align: center;
        }

    .container8{
        display: none;
    }

    .Haut{
        margin-bottom: 100px;
    }

    .ventesExpress{
        margin-top: 100px;
    }

    .nav-gauche {    /* nav gauche  */
        width: 20vw;
        height: 45vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 !important;
    }
    
    .nav-gauche ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .image{
        max-width: 600px;
        max-height: 300px;
    }
    
    .section-slide {
        width: auto;
    }
    
    }